---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import
		"reset",
        "base",
        "layout",
        "syntax-highlighting"
;
