<header class="site-header">

  <div class="wrapper">
    <hgroup class="site-title-group">
    <h1 class="site-title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-subtitle">{{ site.description }}</h3>
    </hgroup>


    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
