  <script>
  	// Async Sharing Buttons
	(function(doc, script) {
	  var js,
	      fjs = doc.getElementsByTagName(script)[0],
	      frag = doc.createDocumentFragment(),
	      add = function(url, id) {
	          if (doc.getElementById(id)) {return;}
	          js = doc.createElement(script);
	          js.src = url;
	          id && (js.id = id);
	          frag.appendChild( js );
	      };

	    // Facebook SDK
	    add('//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1420984721525609&version=v2.2', 'facebook-jssdk');
	    // Twitter SDK
	    add('//platform.twitter.com/widgets.js', 'tweetjs');

	    fjs.parentNode.insertBefore(frag, fjs);
	}(document, 'script'));


  	// Google Analystics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47051831-3', 'auto');
    ga('send', 'pageview');

    // add target='_blank' when href has different hostname
    (function() {
		var links = document.links;
		for (var i = 0; i < links.length; i++) {
			if (links[i].hostname != window.location.hostname) {
				links[i].target = '_blank';
			}
		}
	}());

  </script>

  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>