@charset "utf-8";
// Our variables
$base-font-family: 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

$header-font-family: 'Courgette',cursive;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$article-line-height: 1.7;

$spacing-unit:     30px;

$text-color-black:       #333;
$text-color-quote:       #454545;
$text-color-white:       #fefefe;
$text-color-grey:       #f3f4f4;

$background-color: #fdfdfd; //white
$background-color2: #f9f9f9; //white / grey

$brown-color:      #900000;
$grey-color:       #828282;
$grey-color-light: #f6f7fa;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/**
 * Basic styling
 */

html, html a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color-black;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-top: 5px;
         margin-bottom: 5px;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brown-color;
    text-decoration: none;

    &:hover {
        color: $text-color-black;
    }
}

/**
 * Emphasis
 */
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}


/**
 * Sup
 */

sup {
    a {
        vertical-align: top;
        font-size: $small-font-size;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $text-color-quote;
    border-left: 4px solid $grey-color;
    padding: 7px 0 7px $spacing-unit/2;
    font-size: 1em;
    // letter-spacing: -0.05rem;
    font-style: italic;
    a {
        color: $grey-color;
        text-decoration: underline;
    }
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eee;
    overflow: auto;
    white-space: pre-wrap;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    //overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
