/**
 * Site header
 */
.site-header {
    min-height: 120px;
    // Positioning context for the mobile navigation icon
    position: relative;
    background: url(../images/bk.png);
    a:hover {
        color: $text-color-grey;
    }
}

.site-title-group {
    float: left;
    margin-top: 25px;
}

.site-title, .site-subtitle {
    margin: 0;
    color: $text-color-white;
}

.site-title {
    font-size: 30px;
    font-family: $header-font-family;
}

.site-subtitle {
    font-size: .8em;
    font-family: $base-font-family;
}

.site-nav {
    float: right;
    line-height: 120px;
    .page-link {
        color: $text-color-white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }


}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background: $background-color2;
    padding-left: 10px;
    padding-right: 10px;
    h3 {
        font-size: .9em;
        text-align: left;
        color: $text-color-black;
    }
}

.footer-tags, .footer-info, .copyright {
    text-align: left;

}

.contact-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    &>li {
        display: table-cell;
        a {
            margin-right: 7px;
            color: $grey-color;
            &:hover {
                color: $brown-color;
            }
        }
        i {
            font-size: 28px;

        }
    }
}

.footer-tags {
    a {
        font-size: .7em;
        text-decoration: underline;
        vertical-align: top;
    }
}

.footer-info {
    font-size: .7em;
    margin-bottom: 10px;
    color: $text-color-black;
}

.copyright {
    font-size: .7em;
    margin-top: 40px;
    a {
        color: $grey-color;
        &:hover {
            color: text-color;
        }
    }
}

.footer-col-wrapper {
    font-size: 1.2em;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    margin-right: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 4;
    padding-right: $spacing-unit / 4;
}

.footer-col-1 {
    width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    width:         calc(33.3% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    width:         calc(33.3% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    width:         calc(33.3% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .copyright {
        margin-top: 20px;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .copyright {
        margin-top: 20px;
    }
}


/**
 * Common for Page content / Posts
 */

.post-meta {
    float: left;
    margin-right: 10px;
    @extend %clearfix;
}
.post-tag {
    font-size: $small-font-size;
}

.post-article {
    padding: 40px 0 45px 0;
    border-bottom: 1px dotted $grey-color;
    &:first-child {
        padding-top: 0;
    }

}

/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
    background: $background-color;
}

.page-heading {
    font-size: 1.5em;
}

.post-list {
    margin-left: 0;
    list-style: none;


    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1.5em;
}

.pagination {
    text-align: center;
    margin-top: 30px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    ul, ol {
        list-style: initial;
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }

    img {
        margin: 0 auto;
        display: block;
    }
}

/**
 * social
 */

 .social {
    padding: $spacing-unit 0;
    height: 20px;
    .social-button, .social-button > img {
        vertical-align: bottom;
        display: inline-block !important;
        padding-right: 10px;
    }
 }
